@mixin h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@mixin recom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

